<div class="l-main"> 

	<div class="l-birthday-con">
		  <h1>Add your birthday!!</h1>
		 
	<div class="l-add-con">
		<span>  Day  
			<input #day type="text" name="day">
	  </span>
	  
	  
	  <span>  Month  
				<input #mumf type="text" name="mumf">
		</span>
		
	</div>	  
	  	
		  <div class="l-btn">
			<button (click) = "getFuture(day.value, mumf.value)" >Tell my Future</button>
		</div>
	
	</div>


	<div class=l-result [ngSwitch] = "sign">
		<h2 *ngSwitchCase = "'Capricorn'" class="Capricorn">{{sign}}</h2>
		<h2 *ngSwitchCase = "'Aquarius'" class="Aquarius">{{sign}}</h2>
		<h2 *ngSwitchCase = "'Pisces'" class="Pisces">{{sign}}</h2>
		<h2 *ngSwitchCase = "'Aires'" class="Aires">{{sign}}</h2>
		<h2 *ngSwitchCase = "'Taurus'" class="Taurus">{{sign}}</h2>
		<h2 *ngSwitchCase = "'Gemini'" class="Gemini">{{sign}}</h2>
		<h2 *ngSwitchCase = "'Cancer'" class="Cancer">{{sign}}</h2>
		<h2 *ngSwitchCase = "'Leo'" class="Leo">{{sign}}</h2>
		<h2 *ngSwitchCase = "'Virgo'" class="Virgo">{{sign}}</h2>
		<h2 *ngSwitchCase = "'Libra'" class="Libra">{{sign}}</h2>
		<h2 *ngSwitchCase = "'Scorpio'" class="Scorpio">{{sign}}</h2>
		<h2 *ngSwitchCase = "'Sagittarius'" class="Sagittarius">{{sign}}</h2>

		<div>
			<p>{{myFuture.prediction}}</p>
	  </div>

		<h2 *ngSwitchDefault></h2> 
	</div>



</div>
<a routerlink = "/Readings"></a>
