.l-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 900px;
	width: 100%;
	background-color: lightblue;
	margin: 0;
}

.l-birthday-con {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 40%;
	width: 100%;
	background-color: chartreuse;
}

.l-birthday-con h1 {
	text-align: center;
	width: 100%;
}

.l-btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    background-color: lightgreen;
}

.l-add-con {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.l-add-con span {
	margin: auto 50px auto 50px;
}

.l-result {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.l-result h2 {
	height: 80px;
	width: 100%;
	font-size: 8rem;
	text-align: center;
	margin: 0;
}

.l-result div {
	width: 100%;
	font-size: 2rem;
	padding: 5%;
}

.Capricorn {
	color: brown;
}

.Aquarius {
	color: turquoise;
}

.Pisces {
	color: lightgreen;
}

.Aires {
	color: red;
}

.Taurus {
	color: lightblue;
}

.Gemini {
	color: yellow;
}

.Cancer {
	color: silver;
}

.Leo {
	color: orange;
}

.Virgo {
	color: darkgreen;
}

.Libra {
	color: pink;
}

.Scorpio {
	color: maroon;
}

.Sagittarius {
	color: purple;
}