.l-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 0;
    top: 0;
    left: 0;
    background-color: lightcoral;
}

.l-btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 400px;
    margin: 10%;
    background-color: lightgreen;
}

.l-nav-con{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: lightslategray;
}