<h1 class="l-Title" >Horoscope</h1>
<div class="l-nav-con">

		<div class="l-btn" routerLink = 'Reading' routerLinkActive="active">Get Reading</div>
		<div class="l-btn" routerLink = 'Signs' routerLinkActive ="active">Show Star Signs</div>		

<!--  <app-lecomponent></app-lecomponent> -->
</div>

<router-outlet></router-outlet>