.l-add-con {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.l-add-con li {
    text-decoration: none;
    margin: 0;
    padding-left: 35%;
    color: white;
    list-style-type: none;
    width: 100%;
    font-size: large;
}

.l-ul-con {
    background-color: mediumaquamarine;
    margin-top: -20px;
}